@import '../../styles/variables';

.header {
  color: $white;
  padding: 4vh 4vw 1vh;

  &__logo {
    text-decoration: none;
    color: $white;
    font-size: 40px;
    font-weight: 700;
  }

  &__nav {
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    &-item {
      text-decoration: none;
      color: inherit;
      background: none;
      padding: 0;
      border: none;
      cursor: pointer;
    }
  }
}
