@import "./../../styles/variables.scss";

.menuItem {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: $black;
  height: 50px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    flex-shrink: 0;
  }

  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }

  &:hover,
  &.is-active {
    background-color: $black;
    color: $white;
  }
}
