div .linkContainer {
    margin-right: 5%;
    font-size: 40px;
}

.linkContainer ul {
    list-style: none;
    padding: 0;
}
  
.linkContainer li {
    margin: 5px 0;
  }

.linkContainer a {
    color:white;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
.linkContainer a:hover {
    background-color: #ccc;
  }