$color-crimson: #b13d40;
$color-ocean-blue: #336363;
$color-dark-olive: #474338;

// Secondary Colors
$color-sienna: #70352f;
$color-deep-teal: #284741;
$color-forest-green: #3f5749;

// Accent Colors
$color-sunflower-yellow: #fff461;
$color-burnt-orange: #b1370e;
$color-pale-pink: #e7d4d0;
$color-golden-brown: #a57632;
